html {
  background-color: #ff9999;
}

head {
    text-align:center;
}

.navhome{
  position: relative;
  left: -400px;
}

h1 {
  z-index: 100;
  position: relative;
  left: 200px;
  top: 200px;
  font-size: 50px;
  font-family: 'Secular One', sans-serif;
  color: black;
}

.profile-pic {
  position: relative;
  right: -400px;
  top: -500px;
}

.background-color {
  background-color: #1589FF;
}

ul {
  list-style-type: none;
  text-decoration: none;
  margin: 140px;
  display: block;
  position: relative;
  bottom: -200px;
}

ul li {
  color: #ff9999;
  font-size: 20px;
  font-weight: bold;
  background-color: #FFdcdc;
  text-align: center;
  display: block;
  height: 35px;
  width: 150px; 
  border-radius: 5px;
  margin-bottom: 40px;
}

ul li:hover {
  background-color: #ff9999;
}


#box {
    height: 10px;
    width: 0px;
    background-color: blue;
    
    /* compressed version with name, duration, etc in one line */
  -webkit-animation: grow 2s infinite alternate;
  /* you can spec how you want the easing to work */
  -webkit-animation-timing-function: linear;
}


@-webkit-keyframes grow {
  0% {
    width: 0px;
    height: 0px;
  }
  25% {
    width: 50px;
    height: 50px;
  }
  50% {
    width: 100px;
    height: 100px;
  }
  75% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}


