html {
    text-align:center;
    position: absolute;
    color: black;
}

body {
    background-color: #D6FFF7;
    font-family: sans-serif;
    text-align: center;
}

a {
  text-decoration: none;
}

a div {
  border: 2px solid;
  background-color: #ffdcdc;
  height: 20px;
  width: 90px;
  display: inline-block;
  border-radius: 5px;
}

a:hover {
  text-decoration: none;
  color: red;
}

div head {
  border: 4px red;
}


h1 {
  font-family: 'Fjalla One', sans-serif;
}
h2 { 
  font-family: 'Katibeh', cursive;
}

.letter {
  font-size: 40px;
}

.helloborder {
  font-size: 40px;
  margin: 30px 400px 30px 400px;
  background-color: #ffdcdc;
  border-radius: 5px;

}

@-webkit-keyframes grow {
  0% {
    width: 0px;
    height: 0px;
  }
  25% {
    width: 50px;
    height: 50px;
  }
  50% {
    width: 100px;
    height: 100px;
  }
  75% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

#box {
  height: 20px;
   width: 10px;
    background-color: blue;
    
    /* compressed version with name, duration, etc in one line */
  -webkit-animation: grow 2s infinite alternate;
  /* you can spec how you want the easing to work */
  -webkit-animation-timing-function: linear;
}









